@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Menu */
.navigation-header {
    background-color: #88434B;
    padding: 0 15px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-items {
    display: flex;
    gap: 40px;
}

.navigation-items > a {
    color: #FFF8EF;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.48px;
    transition: .4s ease-in-out;
  }

.navigation-items > a:hover {
    color: #D5C9BB;
}

.hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

/* Hero Section */
.hero-container {
    position: relative;
    width: 100%;
    max-height: 660px;
    max-width: 100%;
    overflow: hidden;
}

.hero-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    mix-blend-mode: multiply;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF8EF;
    font-family: "ambroise-std", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.44px;
    opacity: 1;
}

.hero-text h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero-text img {
    max-width: 100%;
    height: auto;
    margin: 20px 0 70px;
}

.shop-button {
    width: 154px;
    height: 38px;
    background-color: #FFF8EF;
    color: #2C3442;
    font-family: "Open Sans", sans-serif; 
    font-weight: 300;
    font-size: 1em;
    border: 2px solid #FFF8EF;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.shop-button:hover {
    background-color: #88434B;
    color: #FFF8EF;
}

.hero-container svg {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF8EF;
}

/* About Section */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 2%;
    background-color: #FFF8EF;
}

.text-content h2 {
    color: #88434B;
    font-family: "ambroise-std", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3em;
    letter-spacing: 1.8px;
    opacity: 1;
    top: 50%;
    margin-bottom: 20px;
}

.text-content p {
    color: #2C3442;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: left;
}

.image-content {
    position: relative;
}

.image-content img {
    width: 100%;
    height: auto;
}

/* Carousel Section */
.carousel-title {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 3%;
    color: #88434B;
    font-family: "ambroise-std", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3em;
    letter-spacing: 1.8px;
    opacity: 1;

}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: center;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
}

.carousel-item {
    flex: 0 0 25%;
    box-sizing: border-box;
    text-align: center;

}

.carousel-item img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.carousel h3 {
    margin: 10px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 0.72px;
    color: #88434B;
    font-size: 1.25em;
}

.carousel p {
    margin: 10px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 0.72px;
    color: #2C3442;
    font-size: 1.25em;
}

.carousel-button {
    background-color: #88434B;
    display: inline-block;
    vertical-align: middle;
    width: 175px;
    padding: 10px 20px;
    color: #FFF8EF;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1em;
    border: 2px solid #88434B;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

.carousel-button:hover {
    background-color: #FFF8EF;
    color: #2C3442;
}

/* Call to Action Section */
.cta-container {
    display: flex;
    max-height: 668px;
}

.cta-image {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.cta-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.cta-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF8EF;
    max-width: 80%;
}

.cta-content h2 {
    margin-bottom: 10px;
    font-family: "ambroise-std", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    letter-spacing: 3px;
    color: #FFF8EF;
    opacity: 1;
}

.cta-content p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    letter-spacing: 0.72px;
    color: #FFF8EF;
    text-align: center;
    opacity: 1;
}

.cta-button {
    background-color: #FFF8EF;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin-top: 38px;
    width: 154px;
    padding: 10px 20px;
    border: 2px solid #FFF8EF;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: #88434B;
    color: #FFF8EF;
}

/* About2 Section */
.about2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1254px;
}

.container-image {
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;
}

.container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about2-images {
    display: flex;
    flex-wrap: wrap;
    max-height: 334px;
}

.about2-images img {
    width: 25%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}


/* Responsive */
/* Mobiles */
@media all and (max-width:768px) {
    .hamburger {
        display: flex;
        cursor: pointer;
        color: black;
    }

    .hamburger #closeHam {
        display: none;
    }

    .navigation-header {
        background-color: #FFFFFF;
    }

    .navigation-items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 58px;
        background-color: #88434B;
        width: 100%;
        height: calc(100vh - 58px);
        padding-top: 60px;
        gap: 10vh;
    }


    .navigation-items.show-menu {
        display: none;
    }
    
    .mobile-nav .navigation-items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 80px;
        background-color: #88434B;
        width: 100%;
        height: calc(100vh - 80px);
        padding-top: 60px;
        gap: 10vh;
    }

    .mobile-nav .navigation-items > a {
        color: #FFF8EF;
    }

    .mobile-nav .navigation-items > a:hover {
        color: #D5C9BB;
    }

    .about-container {
        padding: 11% 8%;
    } 

    .column {
        width: 100%;
        padding: 6.5% 7% 7% 7%;
    }

    .hero-container {
        background-position: right center;
        height: 753px;
    }

    .hero-text h1 {
        text-align: center;
        margin-bottom: 52px;
        white-space: nowrap;
    }

    .hero-text img {
        content: url(static/A&H\ Roundal\ Logo.svg);
        max-width: 100%;
        height: auto;
        margin: 20px 0 70px;
    }

    .text-content h2 {
        line-height: 30px;
        font-size: 40px;
    }

    .text-content p {
        font-size: 14px;
    }

    .carousel-item {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .carousel-item img {
        max-width: 50%;
        width: 50%;
    }

    .carousel-title {
        font-size: 40px;
    }

    .cta-container {
        flex-direction: column;
        height: auto;
    }

    .cta-image {
        flex: 1 0 auto;
        height: 300px;
    }

    .cta-content {
        max-width: none;
    }

    .cta-content h2 {
        font-size: 50px;
    }

}

/* Button responsive adjustment */
@media (max-width: 600px) {
.shop-button {
    width: 100%;
    }
}

/* Desktop */
@media all and (min-width: 768px) {
    .about-container { 
        padding: 4% 8% 
    }
    .column {
        width: 47%;
        padding: 1.8% 2% 2.2% 2%;
    }

    .hero-text h1 {
        margin-bottom: 40px;
    }

    .hero-container {
        background-position: right center;
        height: 660px;
        }

    .overlay {
        height: 660px;
    }

    .text-content h2 {
        font-size: 60px;
    }

    .text-content p {
        font-size: 16px;
    }

    .carousel-item {
        flex: 0 0 25%;
    }

    .carousel-title {
        font-size: 60px;
    }
        
    .cta-container {
        background-position: right center;
        height: 660px;
    }

    .cta-content h2 {
        font-size: 100px;
    }
}
